@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


:root{
    font-size: 62.5%;
    --primaryFont : 'DM Sans', sans-serif;
    --charSpace : 6px; 
    --primaryColor : #3e4152;
    --secondaryColor : #fafbfc;
}
body{
    font-family: var(--primaryFont);
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body img{
    cursor: pointer;
}
body>h1, #content_head{
    margin: 50px 25px;
    margin-top:5rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: var(--charSpace);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* BANNER SECTION */
#banner{
    margin-top: 15rem;
    width: 100%;
}
#banner > div{
    width: 93%;
    height: 400px;
    margin: auto;
}
#banner img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Menu bar */
header{
    width: 100%;
    height: 110px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffff;
    opacity: 1;
    z-index: 1000;
}
header >* {
    height: 100%;  
}
#logo{
    width: 12%;
}
#logo > img{
    width: 60%;
    margin-top: 2rem;
    cursor: pointer;
    height: 80%;
}
#nav_bar{
    width: 36%;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.7px;
    color: #282c3f;
    font-family: var(--primaryFont);
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#nav_bar a{
    text-decoration: none;
    color: unset;
    display: block;
    height: 100%;
    padding-top: 4.5rem;
}
#nav_bar li:hover a{
    border-bottom: 5px solid #f58fa0;
}
#nav_bar li:nth-child(1):hover a{
    border-bottom: 5px solid #ff4500;
}
#nav_bar li:nth-child(2):hover a{
    border-bottom: 5px solid #ff69b4;
}
#nav_bar li:nth-child(3):hover a{
    border-bottom: 5px solid #ffa500;
}
#nav_bar li:nth-child(4):hover a{
    border-bottom: 5px solid #f2c210;;
}
#nav_bar li:nth-child(5):hover a{
    border-bottom: 5px solid #0db7af;
}

#nav_bar li{
    height: 100%;
}
#nav_bar #studio{
    position: relative;
}
#nav_bar span{
    color: red;
    position: absolute;
    top:30%;
    left: 105%;
    font-size: 1.2rem;
    font-weight: 700;
}
#search{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #696e79;
    position: relative;
}
#search #search_icon{
    position: absolute;
    left: 4rem;
}
#search > #search_bar{
    display: inline-block;
    width: 95%;
    height: 45px;
    line-height: 24px;
    padding: 1.7rem;
    padding-left: 7rem;
    background-color: #f5f5f6;
    border: none;
    border-radius: 0.6rem;
    color: #696e79;
    letter-spacing: 0.5px;
}

#right_icon{
    width: 14%;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
#right_icon > div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}
#right_icon i{
    font-size: 2rem;
}


/* PROFILE DROPDOWN MENU */
#reggDropdown{
    position: relative;
}
#reggDropdown > #drop{
    width: 20rem;
    height: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 1.5rem;
    cursor: default;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 500ms;
}
#reggDropdown a{
    width: 85%;
    text-decoration: none;
    color: unset;
    display: inline-block;
    text-align: right;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;
    transition: all 500ms;
    
}
#reggDropdown:hover #drop{
    visibility: visible;
    width: 20rem;
    height: 15rem;
}
#reggDropdown > #drop .dropList{
    font-size: 0;
}
#reggDropdown:hover > #drop .dropList{
    font-size: 2rem;
}

#reggDropdown a:hover{
    background-color: #f8d7cf; 
}
#toggle{
    display: none;
 }

 #megamenu_container{
    position: relative;
}
#megamenu{
    /* visibility: hidden; */
    position: absolute; 
    background-color: #fff;
    left: 100%;
    right: 100%;
    top: 100%;
    bottom: 100%;
}
/* #

 /* FOOTER SECTION */
 footer{
    width: 100%;
    padding-bottom: 8rem;
    background-color: var(--secondaryColor);
}
section, hr {
  width: 75%;
  margin: auto;
  margin-top: 4rem;
}
section{
  font-size: 1.5rem;
}
hr{
    margin-top: 1rem;
    color: #eeeeee;
}
footer h4{
  text-transform: uppercase;
  color: #505050;
}
footer > #section_1{
    padding: 5rem 0 2rem;
    display: flex;
    justify-content: space-between;
}
#section_1 > #left{
      width: 65%;
      color: #868585;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 2.7rem;
      display: flex;
}
#left >*{
    flex: 1;
}
#left #latest{
    color: #fff;
    background-color: #ed3833;
    margin-left: 0.5rem;
    padding: 1px 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}
#left > div:nth-child(3){
    flex: 1.5;
}
#section_1 #social_connect{
  margin-top: 2rem;
}
#social_connect + div{
    font-size: 2.5rem;
    display: flex;
    gap: 1.5rem;
}

#section_1 h4{
  margin-bottom: 2rem;
}

#section_1 img{
    height: 42px;
}
#section_1 > #right{
      width: 30%;
}
#right > div{
    display: flex;
    gap: 2rem;
}
#right > div:nth-child(2){
    margin-top: 3rem;
}
#right img{
      display: inline-block;
      width: 48px;
      height: 40px;
      margin-top: 2px;
}
#right span{
    font-weight: 700;
}

#section_4{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
#section_4 a {
    font-size: 1.7rem;
    text-transform: capitalize;
}
/* Slider */

.slides{
    width: 50%;
    margin-top: 15rem;
    height: 100%;
    display: flex;
}


/* landing page*/

#best, #categories{
    width: 100%;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

#best, #categories {
    grid-template-columns: repeat(8,auto);
}


/* BANNER SECTION */
#banner{
    margin-top: 15rem;
    width: 100%;
}
#banner > div{
    width: 93%;
    height: 400px;
    margin: auto;
}
#banner img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#banner .forDesk{
    display: none;
}

/* MAIN SECTION */
main{
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
main > #content{
    width: 70%;
}
main > aside{
    width: 30%;
}
#content_head{
    margin-top: 2rem;
}
/*category 1*/
#content > #category{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "one two"
    "three four"
    ;
    row-gap: 5rem;
    column-gap: 1rem;
}
#category div:nth-child(1){
    grid-area: one;
}
#category div:nth-child(2){
    grid-area: two;
}
#category div:nth-child(3){
    grid-area: three;
}
#category div:nth-child(4){
    grid-area: four;
}
#category img{
    width: 100%;
    transition: 300ms all ease-in-out;
}
#category > div{
    overflow: hidden;
    cursor: pointer;
}
#category > div:hover img{
    transform:  scale(1.08);
}
/*category 2*/
#content >#category2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "one2 two2 three2";
    row-gap: 5rem;
    column-gap: 1rem;
}
#category2 div:nth-child(1){
    grid-area: one2;
}
#category2 div:nth-child(2){
    grid-area: two2;
}
#category2 div:nth-child(3){
    grid-area: three2;
}
#category2 img{
    
    transition: 300ms all ease-in-out;
}
#category2 > div{
    overflow: hidden;
    cursor: pointer;
}
#category2 > div:hover img{
    transform:  scale(1.08);
}
/*category 3*/
#content >#category3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "one3 two3 three3 four3 five3";
    row-gap: 5rem;
    column-gap: 1rem;
}
#category3 div:nth-child(1){
    grid-area: one3;
}
#category3 div:nth-child(2){
    grid-area: two3;
}
#category3 div:nth-child(3){
    grid-area: three3;
}
#category3 div:nth-child(4){
    grid-area: four3;
}
#category3 div:nth-child(5){
    grid-area: five3;
}
#category3 img{
    transition: 300ms all ease-in-out;
}
#category3 > div{
    overflow: hidden;
    cursor: pointer;
}
#category3 > div:hover img{
    transform:  scale(1.08);
}

/* HOME & LIVING MEGAMENU */
#megamenu_container{
    position: relative;
}
#megamenu{
    /* visibility: hidden; */
    position: absolute; 
    background-color: #fff;
    left: 100%;
    right: 100%;
    top: 100%;
    bottom: 100%;
}

/*Home living csss*/
#content > #category1{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "one1 two1"
    "three1 four1"
    "five1 six1";
    row-gap: 5rem;
    column-gap: 1rem;
}
#category1 div:nth-child(1){
    grid-area: one1;
}
#category1 div:nth-child(2){
    grid-area: two1;
}
#category1 div:nth-child(3){
    grid-area: three1;
}
#category1 div:nth-child(4){
    grid-area: four1;
}
#category1 div:nth-child(5){
    grid-area: five1;
}
#category1 div:nth-child(6){
    grid-area: six1;
}
#category1 img{
    width: 100%;
    transition: 300ms all ease-in-out;
}

#category1 > div{
    overflow: hidden;
    cursor: pointer;
}
#category1 > div:hover img{
    transform:  scale(1.08);
}
/* #megamenu_container:hover #megamenu{
    display: none;
} */



/* MAIN ASIDE SECTION */
aside{
    color: black;
}
aside div:nth-child(1){
    margin-top: 4rem;
}
aside >*{
    width: 70%;
    margin: auto;
}
aside p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    cursor: pointer;
    margin-left: 100px;

}
aside p:hover{
    text-decoration: underline;
}
aside div h4{
    margin: 2rem 0;
    font-size: 1.7rem;
    margin-left: 100px;
}



/* BRAND SECTIONS */
.wrapper{
    margin-left: 50px;
    margin-right: 50px;
    width: 95%;
    /*margin: 7rem auto;*/
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
        "top"
        "bottom"
    ;
}
.wrapper div:nth-child(1){
    grid-area: top;
}
.wrapper div:nth-child(2){
    grid-area: bottom;
}
section:nth-of-type(3) {
    background-color:unset;
}
.wrapper > .container{
    
    width: 90%;
    gap: 2rem;
    margin: 0 auto;
    display: flex;
}
.wrapper img{
    width: 100%;
    transition: 400ms all ease-in-out;
}
.container > div{
    overflow: hidden;
    cursor: pointer;
}
.container>div:hover img{
    transform: scale(1.08);
   
}
#featured{
    display: block;
    width: 93%;
    margin: auto;
}


/* MEDIA QUERRIES FOR MOBILE */
@media all and (max-width : 550px){
    #banner .forDesk{
        display: block;
    }
    main{
        width: 90%;
    }
    main #content{
        width: 100%;
    }
    main aside{
        display: none;
    }
    .container :nth-child(3){
        display: none;
    }
}
/*categories section*/
#categories img{
    width: 100%;
    transition: 300ms all ease-in-out;
}

#categories > div{
    overflow: hidden;
    cursor: pointer;
}
#categories > div:hover img{
    transform:  scale(1.08);
}


